:root {
  --red: rgb(230,0,76);
  --blue: rgb(0, 128, 255);
  --yellow: #FFFF00;
}

body {
  background-color: black;
  background-image: url(./layered-waves-haikei.svg);  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

h1 {
  color: white;
  
}

nav {
  display: flex;
  
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: sticky;
  background: black;
  height: 30%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: 600;

}

.navbar ul {
  align-self: center;
  list-style-type: none;
  padding-left: 0;
  
}

.li {
  align-content: center;
}
.nav-circle.one {
  width: 150px;
  height: 150px;;
  border-radius: 50% 50%;
  border: solid black 2px;
  background: rgb(230,0,76);
  color: white;
  
  
}

.nav-circle.two {
  width: 100px;
  height: 100px;;
  border-radius: 51% 51%;
  border: solid black 2px;
  background: rgb(0, 128, 255);
  color: white;

}

.nav-circle.three {
  width: 100px;
  height: 100px;;
  border-radius: 50% 50%;
  border: solid black 2px;
  background: #FFFF00;
  color: #000000;
  
}

.nav-circle {
  display: flex;
  justify-content: space-evenly;
  top: 50px;

 
}

.projects {
  display: flex;
  background: black;
  
}
